* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.features {
    width: 100%;
    min-height: 100vh;
}

.features-container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.features-title {
    text-align: center;
    font-size: 2rem;
}

.gradient-text {
    background: linear-gradient( 0.25turn,#0270bd, #7839ea);
    color: transparent;
    background-clip: text;
}

.features-subtitle {
    max-width: 600px;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    padding: 0.75rem;
}

.feature-card {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 1.5rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.feature-card-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-card-header img {
    width: 3rem;
    object-fit: contain; 
}

/* Адаптивные стили */
@media (max-width: 1024px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (max-width: 900px) { 
    .features-grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
}